
h3.no-span {
    display: table;
    white-space: nowrap;
}
h3.no-span:before,
h3.no-span:after {
    border-top: 1px solid #000000;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%;
}
h3.no-span:before {
    right: 1.5%;
}
h3.no-span:after {
    left: 1.5%;
}
